<div id="GitHub_Section">
  <div class="box-container2">
    <h1></h1>
    <div class="text-sect2">
      <div class="text-direction" data-aos="fade-up">
        <h1>My GitHub</h1>
        <h6>
          Just my GitHub with some extra smaller apps in other languages like:
          <ul>
            <li>Python</li>
            <li>C#</li>
            <li>TypeScript</li>
          </ul>
        </h6>

        <a class="link" href="https://github.com/Tenembris"
          ><i class="bi bi-arrow-left"></i> Click me to see this site
        </a>
      </div>
    </div>
    <div class="img-sect2" data-aos="fade-up">
      <img id="placeholder2" src="assets/GitHub-img.jpg" alt="" />
    </div>
  </div>
</div>
