<div id="Contact-container" data-aos="fade-up">
  <h1>Contact</h1>
  <div class="Contact-box">
    <div class="Contact-text">
      <p>email: kiedramateusz49@gmail.com</p>

      <div id="cv-block">
        <h2 id="cv_h2">Look at my CV below</h2>
        <div class="cv-box">
          <a href="https://read.cv/tenembris">
            <i class="bi bi-file-earmark-pdf"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="Contact-Form">
      <form
        id="form"
        action="https://formsubmit.co/04f0185ba863d3bb21408a93dc0431d5"
        method="POST"
      >
        <input type="text" id="name" placeholder="Full Name" required />
        <input type="email" id="email" placeholder="Email" />
        <textarea
          name="Message"
          id="Message"
          placeholder="Message"
          cols="25"
          rows="5"
          required
        ></textarea>
        <button type="submit" id="submmit-button">Send!</button>
      </form>
    </div>
  </div>
</div>
