<div class="Contact-container">
    <h1>Contact</h1>
    <div class="Contact-box">
        <div class="Contact-text">
            <p>email:</p>
            <p>phone:</p>

            <div class="cv-box">
                <a href="assets/placeholder1.gif" download="proposed_file_name">
                    <i class="bi bi-file-earmark-pdf"></i>
                </a>
                <a href="assets/placeholder1.gif" download="proposed_file_name">
                    <i class="bi bi-file-earmark-pdf"></i>
                </a>
            </div>
        </div>
        <div class="Contact-Form">
            <form id="form" action="https://formsubmit.co/affbce7471ba64d6dfa01c69085dd0ea" method="POST">
                <input type="text" id="name" placeholder="Full Name" required />
                <input type="email" id="email" placeholder="Email" />
                <textarea name="Message" id="Message" placeholder="Message" cols="25" rows="5" required></textarea>
                <button type="submit" id="submmit-button">Send!</button>
            </form>
        </div>
    </div>
</div>