<div class="intro">
  <div class="box-container">
    <h1></h1>
    <div class="text-sect">
      <div class="text-direction" data-aos="fade-up">
        <h1>Trinity Project</h1>
        <h6>
          My first website using Angular that containes three simple apps like:
          <ul>
            <li>Slider with some GIFs</li>
            <li>To do list</li>
            <li>Weather App using OpenWeather API</li>
            <li>Parallax effect</li>
          </ul>
        </h6>

        <a class="link" href="https://trinity-project-app.web.app/"
          >Click me to see this site <i class="bi bi-arrow-right"></i
        ></a>
      </div>
    </div>
    <div class="img-sect" data-aos="fade-up">
      <video
        [loop]="true"
        autoplay="true"
        [muted]="true"
        id="placeholder1"
        src="assets/video1.mp4"
      ></video>
    </div>
  </div>
</div>
