@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: Poppins;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: #252525;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #191919;
}

body {
    width: 100%;
    background-color: #111111;
    overflow-x: hidden;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 3.5s;
}

#logo2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: opacity 0.5s ease forwards 3.5s;
    opacity: 0;
}

#logo path:nth-child(1) {
    stroke-dasharray: 399.76;
    stroke-dashoffset: 399.76;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 385.57;
    stroke-dashoffset: 385.57;
    animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 218.68;
    stroke-dashoffset: 218.68;
    animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 279.95;
    stroke-dashoffset: 279.95;
    animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 280.95;
    stroke-dashoffset: 280.95;
    animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 385.57;
    stroke-dashoffset: 385.57;
    animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 212.73;
    stroke-dashoffset: 212.73;
    animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 213.16;
    stroke-dashoffset: 213.16;
    animation: line-anim 2s ease forwards 2.1s;
}

#logo path:nth-child(9) {
    stroke-dasharray: 385.57;
    stroke-dashoffset: 385.57;
    animation: line-anim 2s ease forwards 2.3s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 420px) {
    svg {
        width: 80%;
    }
}

.header {
    height: 100vh;
    width: 100%;
}


/* intro */

.intro {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.box-container {
    width: 80%;
    height: 80%;
    background-color: #191919;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    margin-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.text-sect {
    width: 40%;
    height: 60%;
    margin-left: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: Poppins;
    color: #ffff;
}

.img-sect {
    position: absolute;
    top: 120%;
    left: 55%;
    width: 40%;
    height: 50%;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    /* background-image: url('https://placebear.com/640/360'); */
    background-size: cover;
    border-radius: 10px;
}

#placeholder1 {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}

p {
    font-size: medium;
}

.text-direction h5 {
    margin-top: 20px;
}

.link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.link:hover {
    color: #fff;
}

.link:hover:after {
    color: #0ff;
    width: 100%;
    left: 0;
}


/* GitHub_Section */

#GitHub_Section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.box-container2 {
    width: 80%;
    height: 80%;
    background-color: #191919;
    border-radius: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
    margin-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.text-sect2 {
    width: 40%;
    height: 60%;
    margin-left: 20px;
    display: flex;
    justify-content: right;
    align-items: right;
    font-family: Poppins;
    color: #ffff;
}

#placeholder2 {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.img-sect2 {
    position: absolute;
    top: 220%;
    left: -1%;
    width: 40%;
    height: 50%;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    /* background-image: url('https://placebear.com/640/360'); */
    background-size: cover;
    border-radius: 10px;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    text-align: center;
}

.container-fluid1 {
    width: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    justify-content: center;
}

.navbar-brand1 {
    margin-top: 5px;
    text-decoration: none;
    color: #fff;
    padding-top: 10px;
}

.navbar-brand1:hover {
    opacity: 1;
}

.container-fluid1 {
    color: white;
    justify-content: space-between;
}


/* tablet */

@media (min-width: 421px) and (max-width: 1000px) {
    svg {
        width: 90% !important;
    }
    .box-container {
        width: 100%;
        flex-direction: column;
        margin-left: 0;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-align: center;
    }
    h6 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 58px;
        margin-bottom: 40px;
    }
    /* .img-sect {
        top: 120%;
        width: 100%;
        height: 30%;
        margin: 20px;
        left: 45%;
        transform: translate(-50%, -50%);
    } */
    .img-sect {
        position: static;
        /* top: 120%; */
        width: 100%;
        height: 50%;
        margin: 20px;
        /* left: 45%;
        transform: translate(-50%, -50%); */
    }
    .text-sect {
        width: 100%;
        height: 60%;
        margin-left: 20px;
        margin-right: 20px;
        /* opcja */
        /* margin-top: 95%; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Poppins;
        color: #ffff;
    }
    .box-container2 {
        width: 100% !important;
        flex-direction: column !important;
        margin-left: 0 !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 10px !important;
        text-align: center;
    }
    .img-sect2 {
        position: static !important;
        width: 100% !important;
        height: 50% !important;
    }
    .text-sect2 {
        width: 100% !important;
        height: 60% !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        /* opcja */
        /* margin-top: 95%; */
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        font-family: Poppins !important;
        color: #ffff !important;
    }
    .bi-arrow-left {
        display: none;
    }
    .bi-arrow-right {
        display: none;
    }
    #placeholder1 {
        width: 600px;
        height: 300px;
        object-fit: fill;
        border-radius: 10px;
    }
    #placeholder2 {
        width: 600px;
        height: 300px;
        object-fit: fill;
        border-radius: 10px;
    }
}

@media (max-width: 420px) {
    .box-container {
        width: 100%;
        flex-direction: column;
        margin-left: 0;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    h6 {
        font-size: 14px;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 34px;
        margin-bottom: 20px;
    }
    /* .img-sect {
        top: 120%;
        width: 100%;
        height: 30%;
        margin: 20px;
        left: 45%;
        transform: translate(-50%, -50%);
    } */
    .img-sect {
        position: static;
        /* top: 120%; */
        width: 100%;
        height: 40%;
        /* margin: 20px; */
        /* left: 45%;
        transform: translate(-50%, -50%); */
    }
    .text-sect {
        width: 100%;
        height: 60%;
        margin-left: 20px;
        margin-right: 20px;
        /* opcja */
        /* margin-top: 95%; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Poppins;
        color: #ffff;
    }
    .box-container2 {
        width: 100% !important;
        flex-direction: column !important;
        margin-left: 0 !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 10px !important;
    }
    .img-sect2 {
        position: static !important;
        width: 100% !important;
        height: 40% !important;
    }
    .text-sect2 {
        width: 100% !important;
        height: 60% !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        /* opcja */
        /* margin-top: 95%; */
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        font-family: Poppins !important;
        color: #ffff !important;
    }
    .bi-arrow-left {
        display: none;
    }
    .bi-arrow-right {
        display: none;
    }
    #placeholder1 {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 10px;
    }
    #placeholder2 {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 10px;
    }
}


/* AboutMe */

#Nav_aboutme {
    padding-top: 10px;
    padding-left: 25px;
    color: white;
    text-decoration: none;
    transition: all 500ms;
}

#Nav_aboutme:hover {
    font-size: 30px;
    font-size-adjust: 20px;
}


/* social */

#social {
    padding-top: 10px;
    padding-right: 25px;
    color: white;
    text-decoration: none;
    transition: all 500ms;
    cursor: pointer;
}

#social:hover {
    font-size: 30px;
    font-size-adjust: 20px;
}


/* home */

#home {
    padding-top: 10px;
    color: white;
    text-decoration: none;
    transition: all 500ms;
}

#home:hover {
    font-size: 30px;
    font-size-adjust: 20px;
}

.AboutMe-container {
    height: 100vh;
    width: 100%;
}

.AboutMe-Box {
    display: flex;
    height: 60%;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    border-radius: 15px;
}

@media (max-width: 420px) {
    .AboutMe-container {
        height: 90vh;
        width: 100%;
        margin-bottom: 10%;
    }
    .AboutMe-Box {
        display: flex;
        height: 80%;
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        border-radius: 15px;
    }
    #arows {
        display: none;
    }
    #arows2 {
        display: none;
    }
    .AboutMeText {
        color: white;
        width: 100% !important;
        height: 100%;
        background-color: #111111;
        font-size: 16px;
        letter-spacing: 1px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .AboutMeImg {
        width: 100% !important;
        height: 100%;
        background-image: url('assets/AboutMeFoto.jpg');
        background-size: cover;
        background-position: bottom;
        border-radius: 15px;
        z-index: +1;
    }
    .chart-container {
        display: none !important;
    }
    .chart-container-mobile {
        display: flex !important;
        justify-content: center;
        position: relative;
        /* left: 10%; */
        width: 100vw;
        height: 80vh;
    }
    .Exp-container {
        height: 50vh !important;
    }
}

@media (min-width: 421px) and (max-width: 1000px) {
    #h1 {
        margin-top: 20px;
        font-size: 32px;
    }
    .AboutMe-container {
        height: 90vh;
        width: 100%;
        margin-bottom: 10%;
    }
    .AboutMe-Box {
        display: flex;
        height: 80%;
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        border-radius: 15px;
    }
    #arows {
        display: none;
    }
    #arows2 {
        display: none;
    }
    .AboutMeText {
        color: white;
        width: 100% !important;
        height: 50% !important;
        background-color: #111111;
        font-size: 16px;
        letter-spacing: 1px;
        margin-bottom: 10%;
    }
    .AboutMeImg {
        position: relative;
        width: 665px !important;
        height: 490px !important;
        background-image: url('./assets/AboutMeFoto.jpg');
        background-size: cover;
        background-position: bottom;
        border-radius: 15px;
        z-index: +1;
        top: 30px;
        left: 40px;
    }
    .chart-container {
        display: none !important;
    }
    .chart-container-mobile {
        display: flex !important;
        justify-content: center;
        position: relative;
        /* left: 10%; */
        width: 100vw;
        height: 80vh;
    }
    .Exp-container {
        height: 60vh !important;
        padding: 20px;
    }
}

.chart-container-mobile {
    display: none;
}

.AboutMeText {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    color: white;
    width: 60%;
    height: 100%;
    background-color: #111111;
}

.AboutMeImg {
    width: 40%;
    height: 100%;
    background-image: url('assets/AboutMeFoto.jpg');
    background-size: cover;
    background-position: bottom;
    border-radius: 15px;
    z-index: +1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#arows {
    position: absolute;
    left: 50%;
    top: -20%;
    animation: fill 0.6s ease-out forwards 5s;
}

#arows2 {
    position: absolute;
    left: 50%;
    top: -20%;
    animation: fill 0.2s ease forwards 5s;
    animation: opacity 0.5s ease forwards 1.5s;
    opacity: 0;
}

#arows path:nth-child(1) {
    stroke-dasharray: 3535.8503;
    stroke-dashoffset: 3535.8503;
    animation: line-anim 5s ease forwards;
}

@keyframes arrow-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-arrows {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}


/* exp */

.Exp-container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: white;
    margin-bottom: 40px;
}

.chart-container {
    display: flex;
    justify-content: center;
    position: relative;
    /* left: 10%; */
    width: 100vw;
    height: 50vh;
}


/* contact */

#Contact-container {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
    color: white;
}

.Contact-box {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 80vw;
    border-radius: 15px;
    background-color: #191919;
}

.Contact-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    background-color: #191919;
}

.Contact-Form {
    width: 50%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    background-color: #191919;
    border-left: solid #111111;
}

#cv-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
    width: 80%;
    text-align: center;
}

.cv-box {
    display: flex;
    justify-content: space-between;
    width: 30%;
    flex-direction: column;
    margin: 5%;
}

.cv-text {
    font-size: 14px;
}

#cv_h2 {
    justify-content: center;
}

@media (max-width: 420px) {
    #Contact-container {
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
    }
    .Contact-box {
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 105vw;
        border-radius: 15px;
        background-color: #191919;
    }
    .Contact-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 15px 0 0 15px;
        background-color: #191919;
        padding: 5%;
    }
    .Contact-Form {
        margin-top: 5%;
        width: 100%;
        height: 100%;
        border-radius: 0 15px 15px 0;
        background-color: #191919;
        padding-bottom: 10%;
    }
    .cv-box {
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        width: 20%;
    }
    .bi-file-earmark-pdf {
        color: white;
        font-size: 32px !important;
        transition: 0.5s;
    }
}

@media (min-width: 421px) and (max-width: 920px) {
    #Contact-container {
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        margin-top: 10%;
    }
    .Contact-box {
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 105vw;
        border-radius: 15px;
        background-color: #191919;
    }
    .Contact-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 15px 0 0 15px;
        background-color: #191919;
        padding: 5%;
    }
    .Contact-Form {
        margin-top: 5%;
        width: 100%;
        height: 100%;
        border-radius: 0 15px 15px 0;
        background-color: #191919;
        padding-bottom: 10%;
    }
    .cv-box {
        margin-top: 5%;
        display: flex;
        /* justify-content: space-between; */
        width: 20%;
        flex-direction: column;
    }
    .bi-file-earmark-pdf {
        color: white;
        font-size: 32px !important;
        transition: 0.5s;
    }
}

.bi-file-earmark-pdf {
    color: white;
    font-size: 64px;
    transition: 0.5s;
}

.bi-file-earmark-pdf:hover {
    font-size: 86px;
}

.Contact-Form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#form {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
}

#name {
    margin-bottom: 20%;
    width: 150%;
    padding: 5px;
    border-radius: 10px;
    background-color: #252525;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: white;
}

#email {
    margin-bottom: 20%;
    width: 150%;
    padding: 5px;
    border-radius: 10px;
    background-color: #252525;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: white;
}

#Message {
    width: 150%;
    padding: 5px;
    border-radius: 10px;
    background-color: #252525;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: white;
}

#submmit-button {
    background-color: #7477db;
    border-radius: 10px;
    margin-top: 20%;
    border: none;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: white;
    transition: 500ms;
}

#submmit-button:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 18px 30px, rgba(0, 0, 0, 0.4) 0px 14px 14px;
    transform: scale(1.2);
}

ul {
    padding-top: 15px;
}

.TextColor {
    color: #7477db;
    font-size: 60px;
}


/* chatBox */

#Chat-Box {
    position: fixed;
    bottom: 50px;
    right: 5%;
    width: 300px;
    height: 500px;
    border-radius: 12px;
    z-index: 5;
    display: none;
    flex-direction: column;
}

#Chat-Box-Header {
    display: flex;
    justify-content: space-between;
    padding: 2.5% 5% 2.5% 5%;
    border-radius: 10px 10px 0 0;
    background-color: #252525;
    color: #7477db;
    height: 10%;
    font-size: 18px;
}

#Chat-Box-Cancel {
    background-color: none;
    background: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

#Chat-Box-Main {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 80%;
    background: rgba(0, 0, 0, 0.07);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.Chat-Box-Answer {
    background-color: #252525;
    color: #fff;
    font-size: 16px;
    width: 70%;
    margin: 5%;
    border-radius: 10px;
    padding: 5%;
    justify-content: right;
}

.Chat-Box-Question {
    background-color: rgb(116, 119, 219);
    color: #fff;
    font-size: 16px;
    width: 70%;
    border-radius: 10px;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
}

#Chat-Box_Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5%;
    border-radius: 0 0 10px 10px;
    background-color: #252525;
    color: #fff;
    height: 10%;
}

.Question_Button {
    width: 25%;
    height: 80%;
    border-radius: 10px;
    transform: perspective(1px) translateZ(0);
    transition: color 0.3s;
    background-color: #252525;
    font-size: 14px;
    border: 1px solid #7477db;
    color: #7477db;
}

.Question_Button.clicked {
    animation-name: cooldown;
    animation-duration: 1s;
}

@keyframes cooldown {
    0% {
        opacity: 0.2;
    }
    75% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}